.modal-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.click-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.click-icon img {
    margin-right: 5px;
}